*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    font-family:sans-serif;
    color:#a0a0a0;
    line-height:1.6;
}
.main-container{
    display:grid;
    grid-template-columns:350px 1fr;
    max-width:1200px;
    gap:40px;
    padding:40px;
    margin:auto;
}
.sidebar{
    background-color: #2a2a2a;
    height:120vh;
    border-radius:16px;
    border:1px solid #3a3a3a;
}
.main-content{
    background-color:#2a2a2a;
    height:90vh;
    border-radius:16px;
    border:1px solid #3a3a3a;
}
.profile-info{
    padding:40px;
    text-align:center;
}
.profile-info img{
    height:120px;
    width:120px;
    border-radius:50%;
    border:1px solid #3a3a3a;
}
.profile-info h2{
    font-size:1.5rem;
    font-weight:700;
    margin-top:20px;
    color:#e0e0e0;
}
.profile-info p{
    background-color: #1e1e1e;
    padding:5px 15px;
    color:#FFBF00;
    border:1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius:8px;
    display: inline-block;
    margin-top: 10px;
}
.contact{
    margin: 30px;
    border-top:2px solid #3a3a3a;
    padding:20px;
}
.em{
    font-weight: 500;
    font-size: 0.8rem;
    color:#a0a0a0;
}
.val{
    color:#e0e0e0;
    text-decoration:none;
}
.email{
    margin-bottom:15px;
}
.phone{
    margin-bottom:15px;
}
.social-media{
    margin: 30px;
    border-top:2px solid #3a3a3a;
    padding:20px;
    text-align:center;
}
.social-media img{
    height:24px;
    width:24px;
    margin-left:10px;
    filter:grayscale(1) invert(0.7);
    transition:filter 0.3s ease;
}
.social-media img:hover{
    filter: grayscale(0) invert(0);
}